$present-back: #dadad2;

.present {
	margin: 98px auto 45px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__list {
		width: 560px;
	}
	&__item {
		margin-bottom: 20px;
		background-color: $present-back;
		background-repeat: no-repeat;
		&:hover {
			.present__subject {
				color: $pink;
				transition: .2s;
			}
		}
	}
	&__box {
		margin-top: 26px;
		padding: 14px 18px 10px;
		background: #fff;
		display: inline-block;
	}
	&__title,
	&__subject {
		font-weight: 900;
		text-transform: uppercase;
	}
	&__title {
		font-size: 18px;
		letter-spacing: .45px;
		margin-bottom: 4px; //удалить (возможная ошибка дизайнера)
	}
	&__subject {
		font-size: 30px;
		letter-spacing: .75px;
	}
}
