$pink: #f16d7f;
$back: #222224;
$white: #fbfbfb;
.offer {
	display: flex;
	margin: 55px auto 97px;
	background: $back;
	flex-wrap: wrap;
	&__pic {
		font-weight: bold;
		display: inline-block;
		width: 767px;
		height: 529px;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		color: #fff;
		background: url(../img/snow.jpg) no-repeat;
		&:hover {
			.offer__slogan {
				transition: .2s;;
				color: $pink;
			}
		}
	}
	&__title {
		font-size: 54px;
		margin: 134px 0 0 36px;
	}
	&__text {
		font-size: 32px;
		margin-left: 36px;
		letter-spacing: .9px;
	}
	&__list {
		padding: 52px 44px 0 34px;

		flex-grow: 1;
	}
	&__item {
		display: flex;
		margin-bottom: 50px;

		justify-content: space-between;
	}
	&__icon {
		align-self: flex-start;
	}
	&__inner {
		max-width: 219px;
		color: $white;
	}
	&__subject {
		font-size: 20px;
		letter-spacing: .5px;
	}
	&__lead {
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		margin-top: 11px;
		letter-spacing: .35px;
	}
}
