@charset "UTF-8";
@font-face {
  font-family: lato;
  src: url("../fonts/lato/lato-black.eot");
  src: url("../fonts/lato/lato-black.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-black.woff2") format("woff2"), url("../fonts/lato/lato-black.woff") format("woff"), url("../fonts/lato/lato-black.ttf") format("truetype");
  font-weight: 900; }

@font-face {
  font-family: lato;
  src: url("../fonts/lato/lato-bold.eot");
  src: url("../fonts/lato/lato-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-bold.woff2") format("woff2"), url("../fonts/lato/lato-bold.woff") format("woff"), url("../fonts/lato/lato-bold.ttf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: lato;
  src: url("../fonts/lato/lato-regular.eot");
  src: url("../fonts/lato/lato-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-regular.woff2") format("woff2"), url("../fonts/lato/lato-regular.woff") format("woff"), url("../fonts/lato/lato-regular.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: lato;
  src: url("../fonts/lato/lato-italic.eot");
  src: url("../fonts/lato/lato-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-italic.woff2") format("woff2"), url("../fonts/lato/lato-italic.woff") format("woff"), url("../fonts/lato/lato-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: lato;
  src: url("../fonts/lato/lato-light.eot");
  src: url("../fonts/lato/lato-light.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-light.woff2") format("woff2"), url("../fonts/lato/lato-light.woff") format("woff"), url("../fonts/lato/lato-light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: opensans;
  src: url("../fonts/opensans/opensans-regular.eot");
  src: url("../fonts/opensans/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/opensans-regular.woff2") format("woff2"), url("../fonts/opensans/opensans-regular.woff") format("woff"), url("../fonts/opensans/opensans-regular.ttf") format("truetype");
  font-weight: normal; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

html,
body {
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: lato, sans-serif;
  font-weight: normal;
  color: #222; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none;
  color: #222; }

img {
  vertical-align: bottom; }

button {
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent; }
  button:hover {
    cursor: pointer; }

h1,
h2,
h3 {
  margin: 0; }

details {
  display: inline-block; }

summary {
  outline: none;
  font-size: 14px;
  cursor: pointer; }

p {
  margin: 0; }

.btn-catalog {
  font-size: 1rem;
  font-weight: bold;
  width: 150px;
  height: 44px;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  background-color: transparent;
  text-transform: capitalize;
  -webkit-transition: color .2s, border .2s;
  -o-transition: color .2s, border .2s;
  transition: color .2s, border .2s; }
  .btn-catalog:hover {
    color: #ef5b70;
    border-color: #ef5b70; }

.btn-choice {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6; }
  .btn-choice:hover {
    background-color: #f16d7f; }

.btn-delete {
  color: #c0c0c0;
  padding: 0;
  font-size: 1rem; }
  .btn-delete:hover {
    color: #f16d7f; }

.btn-expand {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  width: 212px;
  height: 48px;
  letter-spacing: .4px;
  color: #fff;
  background: #f16d7f;
  -webkit-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s; }
  .btn-expand:hover {
    background: #ef5b70; }

.btn-products {
  position: absolute;
  top: 98px;
  left: 70px;
  visibility: hidden;
  font-size: 0.8125rem; }
  .btn-products__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 8px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .btn-products__add, .btn-products__send, .btn-products__like {
    color: #fff;
    -webkit-transition: border .2s;
    -o-transition: border .2s;
    transition: border .2s;
    border: 1px solid #fff;
    border-radius: 3px;
    background: transparent; }
    .btn-products__add:hover, .btn-products__send:hover, .btn-products__like:hover {
      border-color: #ef5b70; }
  .btn-products__add {
    font-weight: bold;
    padding: 13px 12px 10px 42px;
    color: #fff;
    border: 1px solid #fff;
    background: transparent url("../img/svg/cart-modal.svg") no-repeat 9px; }
  .btn-products__send, .btn-products__like {
    width: 57px;
    height: 38px; }

.btn-search {
  width: 36px;
  height: 38px;
  outline: none;
  border: 1px solid #e6e6e6;
  color: #a4a4a4;
  border-radius: 0 3px 3px 0;
  border-left: 0;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s; }
  .btn-search:hover {
    color: #222; }

.stars {
  color: #e4af48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.triangle {
  position: absolute;
  top: -5px;
  left: 69px;
  width: 9px;
  height: 9px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  background-color: #fff; }

.container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.form-filter__box_center {
  margin-left: 95px; }

.mega__box_margin {
  margin: 0 45px; }

.nav__item_hover {
  position: relative; }
  .nav__item_hover:hover .mega {
    visibility: visible; }

.products_padding {
  padding-bottom: 0; }

.products__list_margin {
  margin-bottom: 0; }
  .products__list_margin_good {
    margin-bottom: 34px; }

.table__title_first {
  text-align: left; }

.account[open] {
  color: #fff; }

.account__text {
  font-size: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  height: 38px;
  padding-left: 18px;
  letter-spacing: .38px;
  background: #f16d7f;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .account__text::-webkit-details-marker {
    font-size: 0.75rem;
    padding: 4px 8px 0; }
  .account__text::-moz-details-marker {
    font-size: 0.75rem;
    padding: 4px 8px 0; }

.breadcrumbs {
  height: 148px;
  background-color: #f8f3f4;
  padding-top: 60.5px; }
  .breadcrumbs__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .breadcrumbs__title {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f; }
  .breadcrumbs__item {
    font-size: 0.875rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363; }
  .breadcrumbs__link:hover {
    color: #f16d7f; }
  .breadcrumbs__text {
    font-weight: bold;
    color: #f16d7f; }

.cart-good {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .cart-good__img {
    margin-right: 20px; }
  .cart-good__title {
    color: #222;
    font-size: 0.8125rem;
    margin-bottom: 9px; }
  .cart-good__wrap {
    margin-top: 12px; }
  .cart-good__text {
    color: #575757;
    text-transform: capitalize;
    text-align: left;
    margin-top: 6px; }
  .cart-good__value {
    color: #939393;
    padding-left: 8px; }

.cart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.cart__btn {
  padding: 16px 38px;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: border .2s, color .2s;
  -o-transition: border .2s, color .2s;
  transition: border .2s, color .2s; }
  .cart__btn:hover {
    color: #ef5b70;
    border-color: #ef5b70; }

.cart__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 60px 0 79px; }

.cart__wrap {
  border: 0;
  padding: 0; }

.cart__legend {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: border .2s;
  -o-transition: border .2s;
  transition: border .2s;
  margin-bottom: 20px; }

.cart__input {
  display: block;
  padding: 10px 5px 15px 16px;
  width: 355px;
  border: 1px solid #eaeaea;
  outline: none;
  margin-bottom: 20px; }
  .cart__input:focus {
    border-color: #f16d7f; }
  .cart__input:valid {
    background: transparent; }
  .cart__input::-webkit-input-placeholder {
    color: #b1b1b1;
    text-transform: capitalize;
    font-size: 0.8125rem; }
  .cart__input::-moz-placeholder {
    color: #b1b1b1;
    text-transform: capitalize;
    font-size: 0.8125rem; }
  .cart__input:-ms-input-placeholder {
    color: #b1b1b1;
    text-transform: capitalize;
    font-size: 0.8125rem; }

.cart__submit {
  border: 1px solid #eaeaea;
  padding: 11px 14px;
  margin-top: 2px;
  color: #4a4a4a;
  font-size: 0.6875rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: border .2s;
  -o-transition: border .2s;
  transition: border .2s; }
  .cart__submit:hover {
    border-color: #f16d7f; }

.cart__label {
  display: block;
  margin: 4px 0 24px;
  color: #000;
  font-size: 0.875rem;
  font-weight: 300; }

.cart__wrap-price {
  background: #f5f3f3;
  padding: 40px 42px 42px;
  width: 360px;
  margin-top: 3px; }

.cart__inner {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 8px; }

.cart__text {
  color: #4a4a4a;
  font-size: 0.6875rem;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 13px; }

.cart__price {
  padding-left: 16px; }

.cart__text_last {
  font-size: 1rem;
  font-weight: bold; }

.cart__price_color {
  color: #f16d7f; }

.cart__link {
  background: #f16d7f;
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s;
  display: block;
  padding: 16px 0;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 17px; }
  .cart__link:hover {
    background: #ef5b70; }

.catalog-offer {
  min-height: 341px;
  margin-top: 55px;
  padding: 87px 0 111px;
  color: #fbfbfb;
  background: #222224; }
  .catalog-offer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1090px;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .catalog-offer__item {
    width: 310px; }
  .catalog-offer__icon {
    display: block;
    margin: 0 auto 19px; }
  .catalog-offer__title {
    font-size: 1.25rem;
    margin-bottom: 11px;
    text-align: center;
    letter-spacing: .5px; }
  .catalog-offer__text {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 23.95px;
    letter-spacing: .35px; }

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6f6e6e;
  margin-top: 59px; }
  .catalog__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 48px; }
  .catalog__box {
    padding-top: 9px; }
  .catalog__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 55px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .catalog__pagination {
    border: 1px solid #ebebeb;
    border-radius: 3px; }
    .catalog__pagination:hover {
      border-color: #ef5b70; }
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .catalog__item {
    font-size: 1rem;
    font-weight: bold;
    color: #c4c4c4; }
  .catalog__btn, .catalog__link {
    display: block;
    padding: 10px 9px;
    background: transparent;
    color: #c4c4c4; }
    .catalog__btn:hover, .catalog__link:hover {
      color: #ef5b70; }
  .catalog__text {
    display: block;
    margin: 0 -9px;
    padding: 12px 0;
    cursor: default; }

.center {
  max-width: 1140px;
  margin: 0 auto; }

.checkout {
  padding: 56px 0 94px; }
  .checkout__box {
    display: block;
    padding-right: 164px;
    border-bottom: 1px solid #e8e8e8; }
  .checkout__name, .checkout__title, .checkout__label, .checkout__submit {
    text-transform: uppercase; }
  .checkout__name {
    font-size: 1rem;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
    font-weight: bold;
    padding: 30px 0 24px; }
    .checkout__name:hover {
      color: #f16d7f; }
    .checkout__name::-webkit-details-marker {
      display: none; }
  .checkout__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 79px; }
  .checkout__form {
    margin-left: 33px;
    width: 394px; }
  .checkout__inner {
    border: 0;
    padding: 0; }
  .checkout__title {
    font-size: 0.8125rem;
    padding: 12px 0 12px; }
  .checkout__text, .checkout__btn {
    color: #b3b2b2;
    font-size: 0.8125rem; }
  .checkout__text {
    margin-bottom: 31px; }
    .checkout__text_last {
      margin-bottom: 19px; }
  .checkout__radio {
    margin: 0 15px 17px 0; }
  .checkout__label {
    font-size: 0.75rem;
    display: block; }
    .checkout__label_last {
      margin: 12px 0; }
  .checkout__btn {
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
    display: block;
    margin-bottom: 15px; }
    .checkout__btn:hover {
      color: #f16d7f; }
  .checkout__submit {
    width: 180px;
    text-align: left;
    color: #4a4a4a;
    font-size: 0.875rem;
    border: 1px solid #eaeaea;
    background: transparent;
    padding: 16px 53px;
    -webkit-transition: border .2s;
    -o-transition: border .2s;
    transition: border .2s;
    cursor: pointer;
    margin: 21px 27px 0 0; }
    .checkout__submit:hover {
      border-color: #f16d7f; }
  .checkout__required {
    color: #ff0d0d;
    font-size: 1.0625rem;
    text-transform: capitalize; }
    .checkout__required_size {
      font-size: 0.8125rem;
      margin: 17px 0 10px; }
  .checkout__input {
    width: 100%;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    margin-bottom: 4px; }
  .checkout__link {
    text-transform: capitalize;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
    font-size: 0.875rem; }
    .checkout__link:hover {
      color: #f16d7f; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.descr {
  text-align: center; }
  .descr__title {
    text-align: center;
    text-transform: uppercase;
    color: #4d4d4d;
    font-weight: 900;
    font-size: 1.125rem;
    margin-bottom: 20px; }
  .descr__lead {
    color: #5e5e5e;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 24px;
    margin: 18px 0; }
  .descr__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 20px auto 33px;
    width: 335px; }
  .descr__text {
    color: #b9b9b9;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase; }
  .descr__text-right {
    color: #2f2f2f;
    padding-left: 3px; }
  .descr__price {
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
    color: #5e5e5e;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    margin-bottom: 41px;
    padding-right: 24px; }

.footer-bottom {
  padding: 23px 0;
  background: #e6e6e6; }
  .footer-bottom__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer-bottom__text {
    font-size: 1rem;
    letter-spacing: .4px;
    color: #7a7a7a; }
  .footer-bottom__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 191px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer-bottom__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
    color: #b2b2b2; }
    .footer-bottom__link:hover {
      background-color: #f16d7f;
      color: #f7f7f8; }

.footer-content {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 110px 0 70px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .footer-content__box {
    max-width: 428px; }
  .footer-content__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 30px;
    min-width: 619px; }
  .footer-content__text {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 24px;
    margin-top: 22px;
    letter-spacing: .35px;
    color: #898989; }
  .footer-content__list {
    width: 166px; }
  .footer-content__title {
    font-size: 1.125rem;
    margin: 11px 0 37px;
    letter-spacing: .45px;
    text-transform: uppercase;
    color: #f16d7f; }
  .footer-content__link {
    font-size: 1rem;
    display: block;
    margin-bottom: 24px;
    letter-spacing: .4px;
    text-transform: capitalize;
    color: #898989; }
    .footer-content__link:hover {
      color: #f16d7f; }

.form-good {
  width: 536px;
  margin: 0 auto; }
  .form-good__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 60px 0 28px; }
  .form-good__wrap {
    padding: 0;
    border: 0; }
  .form-good__name {
    color: #2f2f2f;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 13px; }
  .form-good__inner {
    width: 144px;
    color: #bcbcbc;
    font-size: 0.875rem;
    border: 1px solid #eaeaea;
    padding-left: 16px;
    height: 35px;
    background: transparent;
    text-transform: uppercase;
    outline: 0; }
    .form-good__inner:focus {
      color: #2f2f2f; }
  .form-good__btn {
    width: 100%;
    height: 55px;
    border: 1px solid #bcbcbc;
    color: #bcbcbc;
    font-size: 1rem;
    font-weight: bold;
    background: transparent url("../img/svg/cart-good.svg") no-repeat 40.4% 10px;
    padding-left: 50px;
    -webkit-transition: border .2s, color .2s;
    -o-transition: border .2s, color .2s;
    transition: border .2s, color .2s;
    cursor: pointer; }
    .form-good__btn:hover {
      border-color: #ef5b70;
      color: #ef5b70; }

.form-sort {
  font-size: 0.875rem;
  margin-bottom: 23px;
  padding: 10px 8px;
  text-transform: capitalize;
  background: #f3f3f3; }
  .form-sort__box {
    display: inline-block;
    margin-right: 6px;
    /* Костыль */
    padding: 0;
    border: 1px solid #ebebeb;
    background-color: #fff; }
  .form-sort__label {
    display: inline-block;
    padding: 6px 8px 6px 12px;
    text-align: center;
    border-right: 1px solid #ebebeb; }
  .form-sort__wrap {
    display: inline-block;
    height: 27px;
    margin-right: 6px;
    cursor: pointer;
    border: 0;
    outline: none;
    background: transparent; }

.form-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  opacity: .5;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  /*c background не меняется*/ }
  .form-sub:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0.5); }
  .form-sub__box {
    text-align: center;
    margin: 0 auto; }
  .form-sub__title {
    font-size: 1.5rem;
    margin-bottom: 7px;
    letter-spacing: .6px;
    text-transform: uppercase; }
  .form-sub__subject {
    font-size: 0.875rem;
    margin-bottom: 31px;
    letter-spacing: .35px;
    text-transform: uppercase; }
  .form-sub__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 46px; }
  .form-sub__email {
    width: 282px;
    padding-left: 27px;
    border: 0;
    border-radius: 23px 0 0 23px;
    outline: none;
    background-color: #e1e1e1; }
  .form-sub__btn {
    font-size: 0.875rem;
    padding: 15px 20px;
    cursor: pointer;
    letter-spacing: .35px;
    color: #fff;
    border: 0;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s; }
    .form-sub__btn:hover {
      background-color: #ef5b70; }

.good {
  padding: 53px 0 121px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  position: relative;
  top: -86px; }
  .good:hover .good__title {
    color: #f16d7f; }
    .good:hover .good__title:after {
      background: #ef5b70; }
  .good:hover .descr__price {
    color: #ef5b70; }
  .good:hover .descr__box {
    border-color: #ef5b70; }
  .good__header {
    text-align: center;
    text-transform: uppercase; }
  .good__title {
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
    font-size: 0.875rem;
    display: inline-block;
    margin: 16px;
    padding-bottom: 9px;
    color: #eaeaea;
    border-bottom: 1px solid #eaeaea; }
    .good__title:after {
      position: relative;
      -webkit-transition: background .2s;
      -o-transition: background .2s;
      transition: background .2s;
      top: 11px;
      display: block;
      width: 63px;
      height: 3px;
      margin: 0 auto;
      content: '';
      background: #eaeaea; }
  .good__box {
    width: 620px;
    margin: 0 auto;
    border-bottom: 1px solid #eaeaea; }
  .good__stars {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-left__search {
    height: 38px;
    border: 1px solid #e6e6e6;
    outline: none; }
  .header-left__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-left__search {
    font-size: 0.875rem;
    width: 281px;
    padding-left: 15px;
    letter-spacing: .35px;
    background-color: #fff; }
    .header-left__search::-webkit-input-placeholder {
      font-weight: 300;
      color: #a4a4a4; }
    .header-left__search:-moz-placeholder {
      font-weight: 300;
      color: #a4a4a4; }
    .header-left__search:-ms-input-placeholder {
      font-weight: 300;
      color: #a4a4a4; }

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative; }
  .header-right__ellipse {
    z-index: 2;
    position: absolute;
    top: 1px;
    left: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 19px;
    height: 19px;
    color: #fff;
    border-radius: 50%;
    background: #f16d7f;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-right__count-goods {
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: .3px; }

.header {
  border-bottom: 1px solid #ececec;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17); }
  .header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 99px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.logo {
  font-size: 1.6875rem;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: .68px;
  text-transform: uppercase;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .logo:hover .logo__img {
    -webkit-filter: none;
    filter: none; }
  .logo:hover .logo__text {
    color: #f16d7f; }
  .logo__img {
    -webkit-transition: -webkit-filter .2s;
    transition: -webkit-filter .2s;
    -o-transition: filter .2s;
    transition: filter .2s;
    transition: filter .2s, -webkit-filter .2s;
    margin-right: 11px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }
  .logo__main-text {
    margin-top: 7px; }
  .logo__text {
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
    font-weight: 900;
    display: inline-block; }

.menu-left {
  position: relative;
  z-index: 1;
  margin-left: 36px; }
  .menu-left__text {
    font-size: 0.875rem;
    font-weight: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    height: 38px;
    padding-left: 13px;
    color: #838383;
    border: 1px solid #e6e6e6;
    border-right: 0;
    border-radius: 3px 0 0 3px;
    background: #cdcdcc -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
    background: #cdcdcc -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
    background: #cdcdcc -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
    background: #cdcdcc linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s; }
    .menu-left__text::-webkit-details-marker {
      font-size: 0.6875rem;
      padding: 4px 5px 0 10px;
      color: #838383; }
    .menu-left__text::-moz-details-marker {
      font-size: 0.6875rem;
      padding: 4px 5px 0 10px;
      color: #838383; }
    .menu-left__text:hover {
      color: #222; }
  .menu-left__nav {
    position: absolute;
    left: 36px;
    padding: 7px 13px;
    border: 1px solid #e6e6e6;
    border-top: 0;
    border-radius: 5px;
    background-color: #fff; }
  .menu-left__list {
    width: 234px; }
  .menu-left__item {
    margin: 12px 0; }
  .menu-left__title {
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 32px;
    letter-spacing: .35px;
    text-transform: uppercase;
    color: #232323;
    border-bottom: 1px solid #e8e8e8; }
  .menu-left__link {
    font-size: 0.875rem;
    display: block;
    padding-left: 6px;
    letter-spacing: .35px;
    color: #4f4f4f; }
    .menu-left__link:hover {
      color: #f16d7f; }

.menu {
  width: 243px;
  color: #6f6e6e; }
  .menu[open] .menu__label {
    border-left-color: #ef5b70;
    -ms-flex-item-align: start;
    align-self: flex-start; }
    .menu[open] .menu__label:after {
      content: '\25b2';
      color: #ef5b70; }
  .menu__label {
    font-size: 0.875rem;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 37px;
    margin-bottom: 19px;
    padding: 0 5px 0 11px;
    text-transform: uppercase;
    border-bottom: 1px solid #6f6e6e;
    border-left: 5px solid #6f6e6e;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .menu__label:after {
      font-size: 0.5625rem;
      content: '\25bc'; }
    .menu__label::-webkit-details-marker {
      display: none; }
    .menu__label::-moz-details-marker {
      display: none; }
  .menu__list {
    margin-bottom: 38px; }
  .menu__item {
    margin: 17px 0; }
  .menu__link {
    font-size: 0.875rem;
    display: block;
    padding-left: 17px;
    text-transform: capitalize;
    color: #6f6e6e; }
    .menu__link:hover {
      color: #f16d7f; }

.min-cart {
  position: relative;
  z-index: 1;
  margin-right: 24px;
  top: 3px; }
  .min-cart__triangle {
    left: 28px; }
  .min-cart__icon::-webkit-details-marker {
    display: none; }
  .min-cart__icon::-moz-details-marker {
    display: none; }
  .min-cart__icon:after {
    content: url("../img/svg/cart.svg"); }
  .min-cart__box {
    position: absolute;
    top: 48px;
    left: -12px;
    width: 262px;
    padding: 20px 13px 8px 16px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: #fff; }
  .min-cart__list {
    max-height: 348px;
    overflow-y: auto; }
  .min-cart__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
    border-bottom: 1px solid #e6e6e6;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .min-cart__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-bottom: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .min-cart__link:hover .min-cart__text {
      color: #f16d7f; }
  .min-cart__inner {
    font-size: 0.75rem;
    margin-left: 13px;
    text-transform: uppercase; }
  .min-cart__title {
    margin-bottom: 7px; }
  .min-cart__text {
    display: block;
    margin-top: 12px; }
  .min-cart__multi {
    font-size: 0.625rem;
    padding: 0 6px; }
  .min-cart__wrap {
    font-size: 1rem;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 19px 0 31px;
    text-transform: uppercase;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .min-cart__link-next {
    font-size: 0.875rem;
    font-weight: bold;
    display: block;
    height: 50px;
    margin-bottom: 11px;
    padding: 17px 0;
    text-align: center;
    text-transform: uppercase;
    color: #4a4a4a;
    border: 1px solid #4a4a4a; }
    .min-cart__link-next:hover {
      color: #f16d7f;
      border-color: #f16d7f; }

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 55px auto 97px;
  background: #222224 url(../img/snow.jpg) no-repeat left top; }
  .offer:hover .offer__slogan {
    color: #f16d7f; }
  .offer__box {
    font-weight: bold;
    display: inline-block;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    margin: 134px 0 0 37px; }
  .offer__title {
    font-size: 3.375rem; }
  .offer__slogan {
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
    margin-left: 10px; }
  .offer__text {
    font-size: 2rem;
    letter-spacing: .9px; }
  .offer__list {
    padding: 52px 42px 0 34px; }
  .offer__item {
    width: 294px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 53px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .offer__icon {
    margin-bottom: 5px; }
  .offer__inner {
    max-width: 219px;
    color: #fbfbfb; }
  .offer__subject {
    font-size: 1.25rem;
    letter-spacing: .5px; }
  .offer__lead {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 24px;
    margin-top: 11px;
    letter-spacing: .35px; }

.present {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 98px 0 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .present__list {
    width: 560px; }
  .present__one, .present__two, .present__three, .present__four {
    margin-bottom: 20px;
    background: #dadad2 no-repeat; }
    .present__one:hover .present__subject, .present__two:hover .present__subject, .present__three:hover .present__subject, .present__four:hover .present__subject {
      color: #f16d7f; }
  .present__one, .present__four {
    height: 542px; }
  .present__two, .present__three {
    height: 261px; }
  .present__one {
    background-image: url("../img/present-1.jpg"); }
  .present__two {
    background: url("../img/present-2.jpg") 100% 0; }
  .present__three {
    background-image: url("../img/present-3.jpg"); }
  .present__four {
    background-image: url("../img/present-4.jpg"); }
  .present__box {
    display: inline-block;
    margin-top: 26px;
    padding: 14px 18px 10px;
    background: #fff; }
  .present__title, .present__subject {
    font-weight: 900;
    text-transform: uppercase;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s; }
  .present__title {
    font-size: 1.125rem;
    margin-bottom: 4px;
    letter-spacing: .45px; }
  .present__subject {
    font-size: 1.875rem;
    letter-spacing: .75px; }

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  opacity: .5;
  border-right: 1px solid #fff;
  padding: 111px 71px 156px 14.4%;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  /*c background не меняется*/ }
  .review:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0.5); }
    .review:hover .review__title {
      color: #f16d7f; }
  .review__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto; }
  .review__img {
    margin-right: 29px;
    border-radius: 50%;
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .review__lead {
    font-size: 1rem;
    font-style: italic;
    line-height: 26px;
    margin: 7px 0 10px;
    letter-spacing: .4px; }
  .review__footer {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .review__title {
    font-size: 1rem;
    letter-spacing: .4px;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s; }
  .review__text {
    font-size: 0.75rem;
    font-weight: 300;
    display: block;
    margin-bottom: 41px;
    letter-spacing: .3px; }
  .review__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 140px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.slider-good {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 777px;
  border-width: 1px 0 1px;
  border-style: solid;
  border-color: #eaeaea;
  background: #f7f7f7 url("../img/big/good.jpg") no-repeat 51.2% 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .slider-good__btn {
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s;
    color: #fff;
    width: 47px;
    height: 47px;
    background: #d8d8d8; }
    .slider-good__btn:hover {
      background: #2a2a2a;
      color: #ef5b70; }

.slider {
  background: #e8e8e8 url(../img/curly-sue.jpg) no-repeat center 100%; }
  .slider__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 613px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .slider__box:hover .slider__wrap {
      border-color: #f16d7f; }
    .slider__box:hover .slider__text {
      color: #f16d7f; }
  .slider__wrap {
    padding-left: 12px;
    border-left: 12px solid #222;
    -webkit-transition: border .2s;
    -o-transition: border .2s;
    transition: border .2s;
    margin-bottom: 77px; }
  .slider__title, .slider__subject {
    font-weight: 900;
    text-transform: uppercase; }
  .slider__title {
    font-size: 3.75rem;
    letter-spacing: 1.5px; }
  .slider__subject {
    font-size: 2.5rem;
    letter-spacing: 1px; }
  .slider__text {
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s; }

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eeeeee url(../img/back-review.jpg);
  background-size: cover; }
  .subscribe__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.form-filter {
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  text-transform: uppercase;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .form-filter__box {
    padding: 0;
    border: 0; }
  .form-filter__name {
    font-weight: bold;
    margin-bottom: 20px; }
  .form-filter__link {
    color: #6f6e6e;
    text-transform: capitalize; }
    .form-filter__link:hover {
      color: #f16d7f; }
  .form-filter__partition {
    color: #dfdfdf;
    padding: 0 11px; }
  .form-filter__check {
    margin: 0 10px 0 3px; }
  .form-filter__label {
    width: 24px;
    margin-right: 20px;
    font-family: opensans, sans-serif; }
  .form-filter__range {
    position: relative;
    top: -6px;
    width: 262px;
    /*Только Chrome*/
    margin-bottom: 13px;
    background: transparent;
    -webkit-appearance: none; }
    .form-filter__range::-ms-track {
      /* Скрываем линию */
      width: 100%;
      cursor: pointer;
      color: transparent;
      border-color: transparent;
      background: transparent; }
    .form-filter__range::-webkit-slider-thumb {
      width: 14px;
      height: 14px;
      margin-top: -4px;
      cursor: pointer;
      border-radius: 50%;
      background: #f16d7f;
      -webkit-appearance: none; }
    .form-filter__range:focus {
      outline: none; }
      .form-filter__range:focus::-webkit-slider-runnable-track {
        background: #e8e8e8; }
    .form-filter__range::-webkit-slider-runnable-track {
      width: 100%;
      height: 6px;
      border-radius: 3px;
      background: #f0f0f0; }
  .form-filter__wrap, .form-filter__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .form-filter__inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .form-filter__price {
    font-family: opensans, sans-serif; }

.mega {
  position: absolute;
  z-index: 0;
  left: -198px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  padding: 0 20px 0 24px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background: #fff;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .mega__list {
    width: 234px; }
  .mega__item {
    margin: 12px 0; }
  .mega__title {
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 32px;
    letter-spacing: .35px;
    text-transform: uppercase;
    color: #232323;
    border-bottom: 1px solid #e8e8e8; }
  .mega__link {
    font-size: 0.875rem;
    display: block;
    letter-spacing: .35px;
    text-transform: capitalize;
    color: #4f4f4f; }
    .mega__link:hover {
      color: #f16d7f; }

.nav {
  background: #fff; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .nav__link {
    font-size: 0.875rem;
    font-weight: bold;
    display: block;
    padding: 16px 23px 16px;
    text-transform: uppercase;
    border-bottom: 3px solid transparent; }
    .nav__link:hover {
      color: #f16d7f;
      border-bottom: 3px solid #ef5b70; }

.products {
  padding: 25px 0 58px; }
  .products__header {
    margin-bottom: 59px; }
  .products__title, .products__subject {
    text-align: center; }
  .products__title {
    font-size: 1.875rem;
    margin-bottom: 7px;
    letter-spacing: .75px; }
  .products__subject {
    font-size: 0.875rem;
    font-weight: normal;
    letter-spacing: .35px;
    color: #9f9f9f; }
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 19px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .products__item {
    position: relative;
    margin-bottom: 39px;
    max-width: 261px;
    overflow: hidden;
    -webkit-transition: -webkit-box-shadow .4s, -webkit-transform .4s ease-out;
    transition: -webkit-box-shadow .4s, -webkit-transform .4s ease-out;
    -o-transition: box-shadow .4s, transform .4s ease-out;
    transition: box-shadow .4s, transform .4s ease-out;
    transition: box-shadow .4s, transform .4s ease-out, -webkit-box-shadow .4s, -webkit-transform .4s ease-out; }
    .products__item:hover {
      -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
      -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1); }
      .products__item:hover .products__img {
        -webkit-filter: brightness(0.4);
        filter: brightness(0.4); }
      .products__item:hover .products__caption {
        color: #6f6e6e; }
      .products__item:hover .btn-products {
        visibility: visible; }
  .products__img {
    -webkit-transition: -webkit-filter .4s ease-out;
    transition: -webkit-filter .4s ease-out;
    -o-transition: filter .4s ease-out;
    transition: filter .4s ease-out;
    transition: filter .4s ease-out, -webkit-filter .4s ease-out; }
  .products__link {
    display: block; }
  .products__box {
    padding: 18px 13px 20px; }
  .products__wrap {
    padding: 14px 15px 20px; }
  .products__caption {
    font-size: 0.8125rem;
    font-weight: normal;
    text-transform: uppercase;
    word-spacing: 3.5px; }
  .products__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 13px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .products__price {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    color: #f16d7f; }
  .products__buttons {
    position: absolute;
    top: 98px;
    left: 70px;
    visibility: hidden; }
  .products__good-title {
    color: #4d4d4d;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 4px 0 67px; }

.table {
  text-transform: uppercase;
  font-size: 0.8125rem;
  border-collapse: collapse;
  margin: 70px 0 44px;
  width: 100%; }
  .table__row {
    border-bottom: 1px solid #eaeaea; }
    .table__row:hover {
      border-color: #000; }
      .table__row:hover .cart-good__title {
        color: #f16d7f; }
  .table__title {
    letter-spacing: -0.2px;
    padding: 19px 0; }
  .table__col {
    color: #656565;
    text-align: center;
    padding: 22px 0 25px;
    max-width: 221px; }
  .table__num {
    width: 54px;
    height: 30px;
    text-align: center;
    color: #656565;
    font-size: 0.8125rem;
    padding-left: 13px;
    border: 1px solid #eaeaea; }
    .table__num:focus {
      color: #222; }

@media screen and (max-width: 1024px) {
  .logo__img {
    -webkit-filter: none;
    filter: none; }
  .header__box {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .min-cart__box {
    display: none; }
  .mega {
    display: none; }
  .slider {
    background-image: url(../img/@media/1024px/curly-sue@1024px.jpg); }
    .slider__box {
      height: 499px; }
    .slider__wrap {
      margin-left: 50px;
      border-color: #f16d7f; }
    .slider__text {
      color: #f16d7f; }
  .present {
    display: none; }
  .products__list {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .products__item {
    -webkit-transition: -webkit-box-shadow .2s ease-out;
    transition: -webkit-box-shadow .2s ease-out;
    -o-transition: box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out, -webkit-box-shadow .2s ease-out; }
    .products__item:hover {
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; }
      .products__item:hover .products__img {
        -webkit-filter: none;
        filter: none; }
      .products__item:hover .products__caption {
        color: #222; }
  .products__img {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    max-width: 205px; }
  .products__buttons {
    display: none; }
  .offer {
    margin: 0;
    background-image: url(../img/@media/1024px/snow@1024px.jpg); }
    .offer__slogan {
      color: #f16d7f; }
    .offer__item {
      margin-bottom: 27px; }
  .subscribe {
    background-image: url(../img/@media/1024px/back-review@1024px.jpg);
    min-height: 310px; }
  .review {
    padding: 0 0 0 30px;
    opacity: 1;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .review__title {
      color: #f16d7f; }
  .form-sub {
    opacity: 1;
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }
  .footer-content {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 55px 0 35px; }
    .footer-content__box {
      max-width: 90%; }
    .footer-content__nav {
      margin: 0;
      min-width: 0;
      width: 90%; }
    .footer-content__list {
      width: auto; }
    .footer-content__text {
      margin-top: 10px; }
  .footer-bottom {
    padding: 10px 0; }
    .footer-bottom__box {
      -ms-flex-pack: distribute;
      justify-content: space-around; }
  .btn-products {
    display: none; }
  .breadcrumbs__box {
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media screen and (max-width: 414px) {
  .slider {
    display: none; }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .nav__link {
    border: 1px solid #e6e6e6;
    border-top: 0;
    text-align: center; }
  .products {
    padding: 10px 0 0; }
    .products__header {
      margin-bottom: 20px; }
    .products__title {
      margin: 0; }
    .products__list {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .products__item {
      margin: 0;
      width: 50%; }
    .products__box {
      padding: 13px 8px 15px; }
    .products__inner {
      margin-top: 5px; }
  .stars {
    display: none; }
  .btn-expand {
    width: 100%; }
  .offer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .offer__title, .offer__text {
    font-size: 24px; }
  .offer__text {
    margin: 0; }
  .offer__subject {
    font-size: 17px; }
  .offer__lead {
    display: none; }
  .offer__box {
    margin-top: 15px; }
  .offer__list {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding-top: 6px; }
  .offer__item {
    margin-bottom: 15px; }
  .offer__icon {
    margin-bottom: 10px; }
  .subscribe {
    background-image: url(../img/@media/414px/back-review@414px.jpg); }
  .form-sub {
    margin: 0;
    width: 100%; }
    .form-sub__subject {
      margin-bottom: 15px; }
    .form-sub__btn {
      padding: 8px 13px; }
  .footer-content__nav {
    display: none; }
  .footer-bottom {
    padding: 0; }
    .footer-bottom__text {
      font-size: 13px; }
    .footer-bottom__list {
      width: 158px; } }

@media screen and (max-width: 812px) {
  .header__box {
    height: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .min-cart {
    margin: 0;
    top: 0; }
    .min-cart__icon:after {
      height: 52px;
      width: 52px;
      background: #d3d3d3;
      content: url("../img/svg/cart-white.svg");
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .account {
    color: #fff; }
    .account__text {
      background: #222224;
      height: 52px; }
  .header-right {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .header-right__ellipse {
      width: 22px;
      height: 22px;
      left: 30px;
      top: 0; }
  .header-left {
    margin: 0; }
    .header-left__form {
      display: none; }
  .menu-left {
    display: none; }
  .slider {
    background-image: url(../img/@media/812px/curly-sue@812px.jpg); }
    .slider__box {
      height: 374px; }
  .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #222224; }
    .offer__box {
      margin: 27px auto 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .offer__text {
      font-size: 3.375rem;
      margin-left: 10px; }
    .offer__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-top: 20px; }
    .offer__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; }
  .subscribe {
    min-height: 210px;
    background-image: url(../img/@media/812px/back-review@812px.jpg); }
  .review {
    display: none; }
  .form-sub {
    margin: 0 auto; }
  .footer-content {
    padding: 10px 0 0; }
    .footer-content__text {
      margin: 0; }
    .footer-content__nav {
      min-width: 100%;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    .footer-content__title {
      margin-bottom: 14px; }
    .footer-content__link {
      margin-bottom: 12px; }
    .footer-content__wrap {
      padding: 0 30px;
      max-width: none; } }
