$border: #eaeaea;
$color: #4a4a4a;
$hover: #ef5b70;
$pink: #f16d7f;
$placeholder: #b1b1b1;
$back: #f5f3f3;
$border-wrap: #e2e2e2;

.cart {
	&__buttons {
		display: flex;
		justify-content: space-between;
	}
	&__btn {
		padding: 16px 38px;
		border: 1px solid $border;
		color: $color;
		font-size: 0.875rem;
		font-weight: bold;
		text-transform: uppercase;
		transition: border .2s, color .2s;
		&:hover {
			color: $hover;
			border-color: $hover;
		}
	}
	&__box {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin: 60px 0 79px;
	}
	&__wrap {
		border: 0;
		padding: 0;
	}
	&__legend {
		font-size: 1rem;
		font-weight: bold;
		text-transform: uppercase;
		transition: border .2s;
		margin-bottom: 20px;
	}
	&__input {
		display: block;
		padding: 10px 5px 15px 16px;
		width: 355px;
		border: 1px solid $border;
		outline: none;
		margin-bottom: 20px;
		&:focus {
			border-color: $pink;
			background: $pink*1.8;
		}
		&:valid {
			background: transparent;
		}
		&::-webkit-input-placeholder {
			color: $placeholder;
			text-transform: capitalize;
			font-size: 0.8125rem;
		}
		&::-moz-placeholder {
			color: $placeholder;
			text-transform: capitalize;
			font-size: 0.8125rem;
		}
		&:-ms-input-placeholder {
			color: $placeholder;
			text-transform: capitalize;
			font-size: 0.8125rem;
		}
	}
	&__submit {
		border: 1px solid $border;
		padding: 11px 14px;
		margin-top: 2px;
		color: $color;
		font-size: 0.6875rem;
		font-weight: bold;
		text-transform: uppercase;
		cursor: pointer;
		transition: border .2s;
		&:hover {
			border-color: $pink;
		}
	}
	&__label {
		display: block;
		margin: 4px 0 24px;
		color: #000;
		font-size: 0.875rem;
		font-weight: 300;
	}
	&__wrap-price {
		background: $back;
		padding: 40px 42px 42px;
		width: 360px;
		margin-top: 3px;
	}
	&__inner {
		border-bottom: 1px solid $border-wrap;
		padding-bottom: 8px;
	}
	&__text {
		color: $color;
		font-size: 0.6875rem;
		text-transform: uppercase;
		text-align: right;
		margin-bottom: 13px;
	}
	&__price {
		padding-left: 16px;
	}
	&__text_last {
		font-size: 1rem;
		font-weight: bold;
	}
	&__price_color {
		color: $pink;
	}
	&__link {
		background: $pink;
		transition: background .2s;
		display: block;
		padding: 16px 0;
		text-align: center;
		color: #fff;
		font-size: 1rem;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 17px;
		&:hover {
			background: $hover;
		}
	}
}

