$black:#222;
$text: #575757;
$value: #939393;
$hover: #f16d7f;

.cart-good {
	display: flex;
	align-items: center;
	&__img {
		margin-right: 20px;
	}
	&__title {
		color: $black;
		font-size: 0.8125rem;
		margin-bottom: 9px;
	}
	&__wrap {
		margin-top: 12px;
	}
	&__text {
		color: $text;
		text-transform: capitalize;
		text-align: left;
		margin-top: 6px;
	}
	&__value {
		color: $value;
		padding-left: 8px;
	}
}
