$color: #fbfbfb;
$black: #222224;
.catalog-offer {
	min-height: 341px;
	margin-top: 55px;
	padding: 87px 0 111px;
	color: $color;
	background: $black;
	&__list {
		display: flex;
		width: 1090px;
		margin: 0 auto;
		justify-content: space-between;
	}
	&__item {
		width: 310px;
	}
	&__icon {
		display: block;
		margin: 0 auto 19px;
	}
	&__title {
		font-size: 1.25rem;
		margin-bottom: 11px;
		text-align: center;
		letter-spacing: .5px;
	}
	&__text {
		font-size: 0.875rem;
		font-weight: 300;
		line-height: 23.95px;
		letter-spacing: .35px;
	}
}
