$dark: #4d4d4d;
$gray: #5e5e5e;
$text: #b9b9b9;
$text-right:  #2f2f2f;

.descr {
	text-align: center;
	&__title {
		text-align: center;
		text-transform: uppercase;
		color: $dark;
		font-weight: 900;
		font-size: 18px;
		margin-bottom: 20px;
	}
	&__lead {
		color: $gray;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		margin: 18px 0;
	}
	&__box {
		display: flex;
		justify-content: space-between;
		margin: 20px auto 33px;
		width: 335px;
	}
	&__text {
		color: $text;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
	}
	&__text-right {
		color: $text-right;
		padding-left: 3px;
	}
	&__price {
		transition: color .2s;
		color: $gray;
		font-size: 24px;
		font-weight: bold;
		display: block;
		margin-bottom: 41px;
	}
}
