$color: #898989;
$pink: #f16d7f;

.footer {
	background: #fff;
	&__box {
		display: flex;
		padding: 110px 0 70px;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__wrap {
		width: 428px;
	}
	&__nav {
		display: flex;
		justify-content: space-between;
		margin-right: 30px;
		min-width: 619px;
	}
	&__text {
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		margin-top: 22px;
		letter-spacing: .35px;
		color: $color;
	}
	&__list {
		width: 166px;
	}

	&__title {
		font-size: 18px;
		margin: 11px 0 37px;
		letter-spacing: .45px;
		text-transform: uppercase;
		color: $pink;
	}
	&__link {
		font-size: 16px;
		display: block;
		margin-bottom: 24px;
		letter-spacing: .4px;
		text-transform: capitalize;
		color: $color;
		&:hover {
			color: $pink;
		}
	}
}
