$back: #e6e6e6;
$pink: #f16d7f;
$text: #7a7a7a;
$icon: #b2b2b2;
$hover: #f7f7f8;

.footer-bottom {
	padding: 24px 0;
	background: $back;
	&__box {
		display: flex;

		justify-content: space-between;
		align-items: center;
	}
	&__text {
		font-size: 16px;
		letter-spacing: .4px;
		color: $text;
	}
	&__list {
		display: flex;
		width: 191px;

		justify-content: space-between;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		background-color: #fff;
		color: $icon;
		&:hover {
			background-color: $pink;
			color: $hover;
		}
	}
}
