$black: #2f2f2f;
$gray: #bcbcbc;
$border: #eaeaea;
$hover: #ef5b70;
.form-good {
	width: 536px;
	margin: 0 auto;
	&__box {
		display: flex;
		justify-content: space-between;
		padding: 60px 0 28px;
	}

	&__wrap {
		padding: 0;
		border: 0;
	}
	&__name {
		color: $black;
		font-size: 0.875rem;
		font-weight: bold;
		text-transform: uppercase;
		padding-bottom: 13px;
	}
	&__inner {
		width: 144px;
		color: $gray;
		font-size: 0.875rem;
		border: 1px solid $border;
		padding-left: 16px;
		height: 35px;
		background: transparent;
		text-transform: uppercase;
		outline: 0;
		&:focus {
			color: $black;
		}
	}
	&__btn {
		width: 100%;
		height: 55px;
		border: 1px solid $gray;
		color: $gray;
		font-size: 1rem;
		font-weight: bold;
		background: transparent url('../img/svg/cart-good.svg') no-repeat 40.4% 10px;
		padding-left: 50px;
		transition: border .2s, color .2s;
		cursor: pointer;
		&:hover {
			border-color: $hover;
			color: $hover;
		}
	}
}
