$gray: #eaeaea;
$pink: #f16d7f;
$dark-pink: #ef5b70;

.good {
	padding: 53px 0 121px;
	border: 1px solid $gray;
	background-color: #fff;
	position: relative;
	top: -86px;
	&:hover {
		.good__title {
			color: $pink;
			&:after {
				background: $dark-pink;
			}
		}
		.descr__price {
			color: $dark-pink;
		}
		.descr__box {
			border-color: $dark-pink;
		}
	}
	&__header {
		text-align: center;
		text-transform: uppercase;
	}
	&__title {
		transition: color .2s;
		font-size: 14px;
		display: inline-block;
		margin: 16px;
		padding-bottom: 9px;
		color: $gray;
		border-bottom: 1px solid $gray;
		&:after {
			position: relative;
			transition: background .2s;
			top: 11px;
			display: block;
			width: 63px;
			height: 3px;
			margin: 0 auto;
			content: '';
			background: $gray;
		}
	}
	&__box {
		width: 620px;
		margin: 0 auto;
		border-bottom: 1px solid $gray;
	}
	&__stars {
		justify-content: center;
	}
}
