$pink: #f16d7f;

.header-right {
	display: flex;
	align-items: flex-end;
	&__back {
		color: #fff;
		position: absolute;
		width: 19px;
		height: 19px;
		background: $pink;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		top: -4px;
		left: 24px;
	}
	&__quantity {
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 0.3px;
	}
}
