$border-gray: #e6e6e6;
$placeholder: #a4a4a4;

.header-left {
	display: flex;
	align-items: center;
	&__search,
	&__btn {
		border: 1px solid $border-gray;
		outline: none;
		height: 38px;
	}
	&__form {
		display: flex;
	}
	&__search {
		font-size: 14px;
		width: 281px;
		padding-left: 15px;
		letter-spacing: .35px;
		background-color: #fff;
		&::-webkit-input-placeholder {
			font-weight: 300;
			color: $placeholder;
		}
		&::-moz-placeholder {
			font-weight: 300;
			color: $placeholder;
		}
		&:-moz-placeholder {
			font-weight: 300;
			color: $placeholder;
		}
		&:-ms-input-placeholder {
			font-weight: 300;
			color: $placeholder;
		}
	}
	&__btn {
		width: 36px;
		cursor: pointer;
		border-radius: 0 3px 3px 0;
		background: #fff url(../img/svg/search.svg) no-repeat 50%;
		border-left: 0;
	}
}
