$border-gray: #e6e6e6;
$placeholder: #a4a4a4;

.header-left {
	display: flex;
	margin-top: 2px;
	align-items: center;
	&__search {
		height: 38px;
		border: 1px solid $border-gray;
		outline: none;
	}
	&__form {
		display: flex;
	}
	&__search {
		font-size: 0.875rem;
		width: 281px;
		padding-left: 15px;
		letter-spacing: .35px;
		background-color: #fff;
		&::-webkit-input-placeholder {
			font-weight: 300;
			color: $placeholder;
		}
		&:-moz-placeholder {
			font-weight: 300;
			color: $placeholder;
		}
		&:-ms-input-placeholder {
			font-weight: 300;
			color: $placeholder;
		}
	}
}

