$pink: #f16d7f;
.header-right {
	display: flex;
	&__img {
		margin-right: 24px;
		align-self: flex-end;
	}
	&__box {
		background: $pink;
		&:hover {
			.header-right__link {
				color: #fff;
			}
		}
	}
	&__link {
		padding: 9px 0 11px 18px;
	}
	&__holder {
		&[open] .header-right__arrow {
			color: #fff;
		}
	}
	&__arrow {
		font-size: 11px;
		outline: none;
		padding: 14px 9px 12px 6px;
		cursor: s-resize;
	}
}
