$pink: #f16d7f;

.header-right {
	display: flex;
	align-items: flex-end;
	position: relative;
	&__ellipse {
		z-index: 2;
		position: absolute;
		top: 1px;
		left: 24px;
		display: flex;
		width: 19px;
		height: 19px;
		color: #fff;
		border-radius: 50%;
		background: $pink;
		justify-content: center;
		align-items: center;
	}
	&__quantity {
		font-size: 0.75rem;
		font-weight: bold;
		letter-spacing: .3px;
	}
}
