$pink: #f16d7f;

.logo {
	font-size: 27px;
	font-weight: 300;
	display: flex;
	letter-spacing: .68px;
	text-transform: uppercase;
	align-items: center;
	&:hover {
		.logo__img {
			transition: .2s;
			filter: none;
		}
		.logo__text {
			transition: .2s;
			color: $pink;
		}
	}
	&__img {
		margin-right: 8px;
		filter: grayscale(1);
	}
	&__text {
		font-weight: 900;
		display: inline-block;
	}
}
