$arrow: #838383;
$black: #222;
$border-gray: #e6e6e6;
$gray: #e8e8e8;
$title: #232323;
$link: #4f4f4f;
$pink: #f16d7f;

.menu-left {
	position: relative;
	z-index: 2;
	&__text {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		font-size: 14px;
		font-weight: 300;
		font-size: 14px;
		padding-left: 13px;
		height: 38px;
		border-radius: 3px 0 0 3px;
		background-color: #cdcdcc;
		background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
		margin-left: 36px;
		border: 1px solid $border-gray;
		border-right: 0;
		color: $arrow;
		&::-webkit-details-marker {
			font-size: 11px;
			padding: 4px 5px 0 10px;
			color: $arrow;
		}
		&::-moz-details-marker {
			font-size: 11px;
			padding: 4px 5px 0 10px;
			color: $arrow;
		}
		&:hover {
			transition: .2s;
			color: $black;
		}
	}
	&__nav {
		border: 1px solid $border-gray;
		padding: 7px 13px;
		position: absolute;
		left: 36px;
		border-radius: 5px;
		background-color: #fff;
		border-top: 0;
	}
	&__item {
		margin: 12px 0;

	}
	&__title {
		font-size: 14px;
		font-weight: normal;
		line-height: 32px;
		text-transform: uppercase;
		letter-spacing: 0.35px;
		border-bottom: 1px solid $gray;
		color: $title;
	}
	&__link {
		width: 234px;
		display: block;
		color: $link;
		padding-left: 6px;
		font-size: 14px;
		letter-spacing: 0.35px;
		&:hover {
			color: $pink;
		}
	}
}
