$color: #6f6e6e;
$open: #ef5b70;
$pink: #f16d7f;

.menu {
	width: 243px;
	color: $color;
	&[open] .menu__label {
		border-left-color: $open;
		align-self: flex-start;
		&:after {
			content: '\25b2'; //Вверх
			color: $open;
		}
	}
	&__label {
		font-size: 0.875rem;
		font-weight: bold;
		display: flex;
		height: 37px;
		margin-bottom: 19px;
		padding: 0 5px 0 11px;
		text-transform: uppercase;
		border-bottom: 1px solid $color;
		border-left: 5px solid $color;
		align-items: center;
		justify-content: space-between;
		&:after /* Rotate не помогло */ {
			font-size: 0.5625rem;
			content: '\25bc'; //Вниз
		}
		&::-webkit-details-marker {
			display: none;
		}
		&::-moz-details-marker {
			display: none;
		}
	}
	&__list {
		margin-bottom: 38px;
	}
	&__item {
		margin: 17px 0;
	}
	&__link {
		font-size: 0.875rem;
		display: block;
		padding-left: 17px;
		text-transform: capitalize;
		color: $color;
		&:hover {
			color: $pink;
		}
	}
}
