$border-pink: #ef5b70;
$pink: #f16d7f;

.nav {
	background: #fff;
	&:hover {
		.menu-center {
			visibility: visible;
		}
	}
	&__box {
		position: relative;
	}
	&__list {
		display: flex;
		justify-content: center;
	}
	&__item {
	}
	&__link {
		border-bottom: 3px solid transparent;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		padding: 16px 23px 16px;
		display: block;
		&:hover {
			border-bottom: 3px solid $border-pink;
			color: $pink;
		}
	}
}
