$pink: #f16d7f;
$back: #222224;
$white: #fbfbfb;
.offer {
	display: flex;
	justify-content: space-between;
	margin: 55px auto 97px;
	background: $back url(../img/snow.jpg) no-repeat left top;
	&:hover {
		.offer__slogan {
			color: $pink;
		}
	}
	&__box {
		font-weight: bold;
		display: inline-block;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		color: #fff;
		margin: 134px 0 0 37px;
	}
	&__title {
		font-size: 3.375rem;
	}
	&__slogan {
		transition: color .2s;
		margin-left: 10px;
	}
	&__text {
		font-size: 2rem;
		letter-spacing: .9px;
	}
	&__list {
		padding: 52px 42px 0 34px;
	}
	&__item {
		width: 294px;
		display: flex;
		margin-bottom: 53px;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__icon {
		margin-bottom: 5px;
	}
	&__inner {
		max-width: 219px;
		color: $white;
	}
	&__subject {
		font-size: 1.25rem;
		letter-spacing: .5px;
	}
	&__lead {
		font-size: 0.875rem;
		font-weight: 300;
		line-height: 24px;
		margin-top: 11px;
		letter-spacing: .35px;
	}
}
