$present-back: #dadad2;

.present {
	padding: 98px 0 50px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__list {
		width: 560px;
	}
	&__one,
	&__two,
	&__three,
	&__four {
		margin-bottom: 20px;
		background-color: $present-back;
		background-repeat: no-repeat;
		&:hover {
			.present__subject {
				color: $pink;
				transition: .2s;
			}
		}
	}
	&__one,
	&__four {
		height: 542px;
	}
	&__two,
	&__three {
		height: 261px;
	}
	&__one {
		background-image: url('../img/present-1.jpg');
	}
	&__two {
		background-image: url('../img/present-2.jpg');
		background-position: 100% 0;
	}
	&__three {
		background-image: url('../img/present-3.jpg');
	}
	&__four {
		background-image: url('../img/present-4.jpg');
	}
	&__box {
		margin-top: 26px;
		padding: 14px 18px 10px;
		background: #fff;
		display: inline-block;
	}
	&__title,
	&__subject {
		font-weight: 900;
		text-transform: uppercase;
	}
	&__title {
		font-size: 18px;
		letter-spacing: .45px;
		margin-bottom: 4px;
	}
	&__subject {
		font-size: 30px;
		letter-spacing: .75px;
	}
}
