$pink: #f16d7f;

.review {
	display: flex;
	width: 50%;
	opacity: .5;
	border-right: 1px solid #fff;
	align-items: center;
	&:hover {
		transition: .2s;
		opacity: 1;
		background-color: rgba(255,255,255,.5);
		.review__title {
			transition: .2s;
			color: $pink;
		}
	}
	&__box {
		display: flex;
		margin-right: 72px;
		margin-left: auto;
	}

	&__img {
		margin-right: 28px;
		border-radius: 50%;
		align-self: flex-start;
	}
	&__wrap {
		width: 386px;
	}
	&__lead {
		font-size: 16px;
		font-style: italic;
		line-height: 26px;
		margin-bottom: 9px;
		letter-spacing: .4px;
	}
	&__footer {
		align-self: flex-end;
	}
	&__title {
		font-size: 16px;
		letter-spacing: .4px;
	}
	&__text {
		font-size: 12px;
		font-weight: 300;
		display: block;
		margin-bottom: 40px;
		letter-spacing: .3px;
	}
	&__inner {
		display: flex;
		width: 140px;
		justify-content: space-between;
	}
}
