$border: #eaeaea;
$back: #f7f7f7;
$btn: #d8d8d8;
$hover-btn: #2a2a2a;
$pink: #ef5b70;

.slider-good {
	display: flex;
	height: 777px;
	border-width: 1px 0 1px;
	border-style: solid;
	border-color: $border;
	background: $back url('../img/big/good.jpg') no-repeat 51.2% 10px;
	justify-content: space-between;
	align-items: center;
	&__btn {
		transition: background .2s;
		color: #fff;
		width: 47px;
		height: 47px;
		background: $btn;
		&:hover {
			background: $hover-btn;
			color: $pink;
		}
	}
}
