$pink: #f16d7f;
$gray: #e8e8e8;
$black: #222;

.slider {
	background: $gray url(../img/curly-sue.jpg) no-repeat 100%;
	&__box {
		display: flex;
		height: 613px;

		align-items: center;
		&:hover {
			.slider__wrap {
				transition: .2s;
				border-color: $pink;
			}
			.slider__text {
				transition: .2s;
				color: $pink;
			}
		}
	}
	&__wrap {
		padding-left: 12px;
		border-left: 12px solid $black;
	}
	&__title
	,
	&__subject {
		font-weight: 900;
		text-transform: uppercase;
	}
	&__title {
		font-size: 60px;
		letter-spacing: 1.5px;
	}
	&__subject {
		font-size: 40px;
		letter-spacing: 1px;
	}
}
