$pink: #f16d7f;
$gray: #e8e8e8;
$black: #222;

.slider {
	background: $gray url(../img/curly-sue.jpg) no-repeat center 100%;
	&__box {
		display: flex;
		height: 613px;
		align-items: center;
		&:hover {
			.slider__wrap {
				border-color: $pink;
			}
			.slider__text {
				color: $pink;
			}
		}
	}
	&__wrap {
		padding-left: 12px;
		border-left: 12px solid $black;
		transition: border .2s;
		margin-bottom: 77px;
	}
	&__title,
	&__subject {
		font-weight: 900;
		text-transform: uppercase;
	}
	&__title {
		font-size: 3.75rem;
		letter-spacing: 1.5px;
	}
	&__subject {
		font-size: 2.5rem;
		letter-spacing: 1px;
	}
	&__text {
		transition: color .2s;
	}
}
