$pink: #f16d7f;
$border: #e6e6e6;
$gray: #e8e8e8;
$placeholder: #a4a4a4;
$title: #232323;
$link: #4f4f4f;

.mega {
	z-index: 1;
	position: absolute;
	background: #fff;
	left: -198px;
	display: flex;
	justify-content: space-between;
	padding: 0 20px 0px 24px;
	border-radius: 5px;
	border: 1px solid $border;
	visibility: hidden;
	&__list {
		width: 234px;
	}
	&__item {
		margin: 12px 0;
	}
	&__title {
		font-size: 14px;
		font-weight: normal;
		line-height: 32px;
		text-transform: uppercase;
		letter-spacing: 0.35px;
		border-bottom: 1px solid $gray;
		color: $title;
	}
	&__link {
		display: block;
		color: $link;
		font-size: 14px;
		letter-spacing: 0.35px;
		text-transform: capitalize;
		&:hover {
			color: $pink;
		}
	}
}
