$border-pink: #ef5b70;
$pink: #f16d7f;

.nav {
	background: #fff;
	&__list {
		display: flex;
		justify-content: center;
	}

	&__link {
		font-size: 14px;
		font-weight: bold;
		display: block;
		padding: 16px 23px 16px;
		text-transform: uppercase;
		border-bottom: 3px solid transparent;
		&:hover {
			color: $pink;
			border-bottom: 3px solid $border-pink;
		}
	}
}
