$subject: #9f9f9f;
$pink: #f16d7f;
$hover: #6f6e6e;
$good-title: #4d4d4d;

.products {
	padding: 25px 0 58px;
	&__header {
		margin-bottom: 59px;
	}
	&__title,
	&__subject {
		text-align: center;
	}
	&__title {
		font-size: 1.875rem;
		margin-bottom: 7px;
		letter-spacing: .75px;
	}
	&__subject {
		font-size: 0.875rem;
		font-weight: normal;
		letter-spacing: .35px;
		color: $subject;
	}
	&__list {
		display: flex;
		margin-bottom: 19px;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item {
		position: relative;
		margin-bottom: 39px;
		max-width: 261px;
		overflow: hidden;
		transition: box-shadow .4s, transform .4s ease-out;
		&:hover {
			box-shadow: 0 5px 8px rgba(0, 0, 0, .16);
			transform: scale(1.1,1.1);
			.products__img {
				filter: brightness(.4);
			}
			.products__caption {
				color: $hover;
			}
			.btn-products {
				visibility: visible;
			}
		}
	}
	&__img {
		transition: filter .4s ease-out;
	}
	&__link {
		display: block;
	}
	&__box {
		padding: 18px 13px 20px;
	}
	&__wrap {
		padding: 14px 15px 20px;
	}
	&__caption {
		font-size: 0.8125rem;
		font-weight: normal;
		text-transform: uppercase;
	}
	&__inner {
		display: flex;
		margin-top: 13px;
		justify-content: space-between;
		align-items: center;
	}
	&__price {
		font-size: 1rem;
		font-weight: bold;
		display: block;
		text-transform: uppercase;
		color: $pink;
	}
	&__buttons {
		position: absolute;
		top: 98px;
		left: 70px;
		visibility: hidden;
	}
	&__good-title{
		color: $good-title;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 900;
		text-transform: uppercase;
		margin: 4px 0 67px;
	}
}
