$subject: #9f9f9f;
$pink: #f16d7f;
$hover: #6f6e6e;

.products {
	padding: 25px 0 58px;
	&__header {
		margin-bottom: 60px;
	}
	&__title
	,
	&__subject {
		text-align: center;
	}
	&__title {
		font-size: 30px;
		margin-bottom: 7px;
		letter-spacing: .75px;
	}
	&__subject {
		font-size: 14px;
		font-weight: normal;
		letter-spacing: .35px;
		color: $subject;
	}
	&__list {
		display: flex;
		margin-bottom: 18px;

		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item {
		position: relative;
		margin-bottom: 40px;
		&:hover {
			box-shadow: 0 5px 8px rgba(0, 0, 0, .16);
			.products__img {
				filter: brightness(.4);
			}
			.products__caption {
				color: $hover;
			}
			.products-btn {
				visibility: visible;
			}
		}
	}
	&__link {
		display: block;
	}
	&__box {
		padding: 17px 15px 20px;
	}
	&__wrap {
		padding: 14px 15px 20px;
	}
	&__caption {
		font-size: 13px;
		font-weight: normal;
		text-transform: uppercase;
	}
	&__inner {
		display: flex;
		margin-top: 13px;

		justify-content: space-between;
		align-items: center;
	}
	&__price {
		font-size: 16px;
		font-weight: bold;
		display: block;
		text-transform: uppercase;
		color: $pink;
	}
	&__buttons {
		position: absolute;
		top: 98px;
		left: 70px;
		visibility: hidden;
	}
}
