$back: #e6e6e6;
$pink: #f16d7f;
$text: #7a7a7a;

.footer-bottom {
	padding: 24px 0;
	background: $back;
	&__box {
		display: flex;

		justify-content: space-between;
		align-items: center;
	}
	&__text {
		font-size: 16px;
		letter-spacing: .4px;
		color: $text;
	}
	&__list {
		display: flex;
		width: 191px;

		justify-content: space-between;
	}

	&__link {
		font-size: 0;
		display: block;
		width: 32px;
		height: 32px;
		background-color: #fff;
		&:hover {
			background-color: $pink;
		}
	}
}
